@import url('https://fonts.googleapis.com/css?family=Roboto|Vampiro+One');

html{
    font-family: 'Roboto', sans-serif;
}

.form-title{
    font-size: 18px;
}

.login-logo{
    font-family: 'Vampiro One', cursive;
}

.company-name{
    color: $light-pink;
}

.nav-logo{
    font-size: 24px;
}