.profile-section{
    padding: 69px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .central-container{
        display: flex;
        flex-direction: column;
        .profile-title{
            transition: 0.2s ease;
            opacity: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            //z-index: 10;
            //background-image: linear-gradient(-45deg, $main, $secondary);
            //background: gray;
            &.following{
                .profile-img{
                    border: 5px solid $light-main;
                }
                .name-container{
                    .button-section{
                        .relative{
                            display: flex !important;
                        }
                    }
                }
            }
            &.expanded{
                background: $main-contrast;
                overflow: visible;
                justify-content: center;
                .title-bg{
                    position: absolute;
                    filter: blur(0) brightness(1);
                    z-index: 2;
                    top: 0;
                    //box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
                    @media screen and (orientation:landscape) {
                        top: 10px;
                        width: auto;
                        height: 80vh;
                    }
                }
            }
            .wishlist-container{
                &.expanded{
                    & + .wide-central-container{
                        &.wish-creation-input-container{
                            opacity: 1;
                            margin-top: 0px;
                            z-index: 0;
                        }
                    }
                }
            }
            .wide-central-container{
                &.wish-creation-input-container{
                    position: absolute;
                    top: 100%;
                    margin-top: -58px;
                    display: flex;
                    background: $main-contrast;
                    transition: 0.2s ease;
                    z-index: 0;
                    opacity: 0;
                    .wish-creation-input{
                        width: 100%;
                        max-width: 500px;
                        display: flex;
                        .wish-creation{
                            color: $main-contrast;
                            height: 38px;
                            background: white;
                            width: 100%;
                            border-radius: 0;
                            text-align: left;
                            padding: 0 10px;
                            margin: 10px 10px;
                            @include media-max(500px){
                                border-radius: 3px;
                                &:active,
                                &:focus{
                                    margin: 0 0;
                                    height: 58px;
                                    border-radius: 0;
                                }
                            }
                        }
                    }
                }
            }
            .expand-profile-picture{
                position: absolute;
                z-index: 3;
                right: 10px;
                bottom: 10px;
                color: white;
                cursor: pointer;
            }
            .title-bg-container{
                position: absolute;
                display: flex;
                width: 100%;
                height: 100%;
                overflow: hidden;
                .title-bg{
                    transition: 0.6s ease;
                    filter: blur(30px) brightness(0.7);
                    position: absolute;
                    width: 100%;
                    opacity: 0;
                    transform: scale(3);
                }
            }
            .profile-img{
                position: relative;
                width: 20%;
                padding-top: 20%;
                border-radius: 200px;
                border: 3px solid white;
                margin: 10px 10px;
                overflow: hidden;
                transition: 0.6s ease;
                &.me{
                    cursor: pointer;
                    .img-update{
                        display: flex;
                    }
                    &:hover,
                    &:active,
                    &:focus{
                        img{
                            filter: blur(10px) brightness(0.7);
                        }
                        .img-update{
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                }
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    opacity: 0;
                    transition: opacity 0.4s ease;
                    transition: filter 0.4s ease;
                }
                .img-update{
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    transform: scale(0);
                    opacity: 0;
                    transition: 0.2s ease;
                    @include media-max(650px){
                        font-size: 11px;
                    }
                    i, svg{
                        margin-right: 5px;
                    }
                }
            }
            .name-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 10px 10px;
                color: white;
                z-index: 1;
                .user-names, .user-lastnames{
                    font-size: 26px;
                    display: flex;
                    flex-wrap: wrap;
                }
                .user-lastnames{
                    font-weight: 600;
                }
                .user-alias{
                    font-size: 16px;
                    b{
                        margin-right: 3px;
                    }
                }
                .button-section{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    .btn-login{
                        padding: 5px 15px;
                        display: flex;
                        align-items: center;
                        margin-right: 9px;
                        &.relative{
                            display: none;
                        }
                        &.solid{
                            background: white;
                            color: $main-contrast;
                            transition: 0.2s ease;
                            &:hover,
                            &:active,
                            &:focus{
                                transform: scale(1.05);
                            }
                        }
                        &:hover,
                        &:active,
                        &:focus{
                            color: $main-contrast;
                        }
                        i, svg{
                            margin-right: 3px;
                        }
                    }
                }
                @include media-max(650px){
                    .user-names, .user-lastnames{
                        font-size: 18px;
                    }
                    .user-alias{
                        font-size: 12px;
                    }
                }
            }
        }
        .profile-information-container{
            padding: 8px 3px;
            display: flex;
            flex-direction: column;
            transition: opacity 1s ease, margin 0.2s ease;
            opacity: 0;
            &.pushed-down{
                margin-top: 58px;
                .profile-information{
                    .btn-wishlist{
                        top: -43px;
                    }
                }
            }
            .info-title{
                font-size: 16px;
                font-weight: bold;
                color: $main-contrast;
                width: 100%;
                display: flex;
                z-index: -1;
            }
            .profile-information{
                position: relative;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                .btn-wishlist{
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    font-size: 35px;
                    color: $main;
                    cursor: pointer;
                    background: $light-main;
                    border-radius: 40px;
                    padding: 10px 10px;
                    transition: 0.2s ease;
                    &.selected{
                        color: $light-main;
                        background: $main-contrast;
                        //transform: scale(1.05);
                        &:hover,
                        &:active,
                        &:focus{
                            color: $light-main;
                            background: $main-contrast;
                            transform: scale(1.05);
                            //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
                        }
                    }
                    &:hover,
                    &:active,
                    &:focus{
                        color: $light-main;
                        background: $main;
                        transform: scale(1.05);
                        //box-shadow: 0 5px 10px rgba(0, 0, 0, 0.089);
                    }
                }
                .birthday, .gender, .country{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    z-index: -1;
                    .icon{
                        display: flex;
                        width: 20px;
                        height: 20px;
                        justify-content: center;
                        align-items: center;
                        margin-right: 9px;
                        margin-bottom: 3px;
                        margin-top: 3px;
                        font-size: 16px;
                    }
                }
            }
            .groups-information{
                margin-bottom: 10px;
                .groups-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .group-card{
                        width: 125px;
                        padding-top: 125px;
                        margin-left: 0;
                        margin-right: 6px;
                        //border: 3px solid $light-main;
                    }
                    @include media-max(370px){
                        justify-content: space-between
                    }
                }
            }
            .family-information{
                display: flex;
                flex-direction: column;
                .users-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 6px 10px;
                    .users-lastname{
                        width: 100%;
                        display: flex;
                    }
                }
            }
        }
    }
}

.configuration-outer-container{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    transition: 0.2s ease;
    &.expanded{
        z-index: 10;
        opacity: 1;
    }
    .configuration-inner-container{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        .configuration{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 350px;
            height: 575px;
            background: $main-contrast;
            .configuration-title{
                display: flex;
                color: $light-secondary;
                width: 82%;
                margin-top: 15px;
                justify-content: center;
                //text-transform: uppercase;
                i, svg{
                    margin-right: 3px;
                }
            }
            .inputs-container{
                display: flex;
                flex-direction: column;
                width: 250px;
                margin-top: 5px;
                input[type=text], input[type=password], input[type=date], select{
                    background: white;
                    color: $main-contrast;
                    border-radius: 0;
                }
            }
            .options{
                display: flex;
                margin-top: 5px;
                a{
                    background: $light-secondary;
                    border: 1px solid $light-secondary;
                    color: $main-contrast;
                    font-size: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 40px;
                    height: 30px;
                    width: 20px;
                    margin: 9px 12px;
                    &:hover,
                    &:active,
                    &:focus{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}