.profile-section{
    padding: 69px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .central-container{
        display: flex;
        flex-direction: column;
        .profile-title{
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            //background-image: linear-gradient(-45deg, $main, $secondary);
            background: gray;
            &.expanded{
                background: $main-contrast;
                overflow: visible;
                justify-content: center;
                .title-bg{
                    position: absolute;
                    filter: blur(0) brightness(1);
                    z-index: 2;
                    top: 0;
                    //box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
                    @media screen and (orientation:landscape) {
                        top: 10px;
                        width: auto;
                        height: 80vh;
                    }
                }
            }
            .expand-profile-picture{
                position: absolute;
                z-index: 3;
                right: 10px;
                bottom: 10px;
                color: white;
                cursor: pointer;
            }
            .title-bg{
                transition: 0.2s ease;
                filter: blur(15px) brightness(0.7);
                position: absolute;
                width: 100%;
            }
            .profile-img{
                position: relative;
                width: 20%;
                padding-top: 20%;
                border-radius: 200px;
                border: 3px solid white;
                margin: 10px 10px;
                overflow: hidden;
                cursor: pointer;
                &:hover,
                &:active,
                &:focus{
                    img{
                        filter: blur(10px) brightness(0.7);
                    }
                    .img-update{
                        opacity: 1;
                    }
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    transition: 0.2s ease;
                }
                .img-update{
                    color: white;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    transition: 0.2s ease;
                    i, svg{
                        margin-right: 5px;
                    }
                }
            }
            .name-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin: 10px 10px;
                color: white;
                z-index: 1;
                .user-names, .user-lastnames{
                    font-size: 26px;
                    display: flex;
                    flex-wrap: wrap;
                }
                .user-lastnames{
                    font-weight: 600;
                    text-transform: uppercase;
                }
                .user-alias{
                    font-size: 16px;
                    b{
                        margin-right: 3px;
                    }
                }
                .button-section{
                    display: flex;
                    flex-direction: row;
                    margin-top: 10px;
                    .btn-login{
                        padding: 5px 15px;
                        display: flex;
                        align-items: center;
                        margin-right: 6px;
                        &:hover{
                            color: $main-contrast;
                        }
                    }
                }
                @include media-max(650px){
                    .user-names, .user-lastnames{
                        font-size: 18px;
                    }
                    .user-alias{
                        font-size: 12px;
                    }
                }
            }
        }
        .profile{
            padding: 8px 3px;
            display: flex;
            flex-direction: column;
            .info-title{
                font-size: 16px;
                font-weight: bold;
                color: $main-contrast;
                width: 100%;
                display: flex;
            }
            .profile-information{
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
                .birthday, .gender, .country{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .icon{
                        display: flex;
                        width: 20px;
                        height: 20px;
                        justify-content: center;
                        align-items: center;
                        margin-right: 9px;
                        margin-bottom: 3px;
                        margin-top: 3px;
                        font-size: 16px;
                    }
                }
            }
            .groups-information{
                margin-bottom: 10px;
                .groups-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .group-card{
                        width: 125px;
                        padding-top: 125px;
                        margin-left: 0;
                        margin-right: 6px;
                    }
                    @include media-max(370px){
                        justify-content: space-between
                    }
                }
            }
            .family-information{
                display: flex;
                flex-direction: column;
                .users-container{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 6px 10px;
                    .users-lastname{
                        width: 100%;
                        display: flex;
                    }
                }
            }
        }
    }
}