.chatbox-container{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $main-contrast;
    z-index: 1999;
    transition: 0.2s ease;
    &.expanded{
        bottom: 100%;
        margin-bottom: -55px;
    }
    &.hidden{
        bottom: -55px;
    }
    .chatbox{
        position: relative;
        height: 100%;
        width: 100%;
        max-width: 700px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 15px;
        z-index: 2000;
        .chatbox-input{
            width: 100%;
            display: flex;
            border-radius: 100px;
            padding-left: 15px;
            padding-right: 35px;
            text-align: left;
            height: 35px;
            background: white;
            color: $main-contrast;
            z-index: 2001;
        }
        .emoji-menu{
            position: absolute;
            right: 57px;
            top: 0;
            height: 100%;
            display: flex;
            align-items: center;
            font-size: 20px;
            z-index: 2002;
            color: $main-contrast;
            .btn-emoji{
                cursor: pointer;
            }
        }
    }
    .questionbox-container, .emojibox-container{
        color: $main-contrast;
        position: absolute;
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        background: $main-contrast;
        bottom: 20px;
        z-index: 1998;
        transition: 0.2s ease;
        .questionbox{
            width: 100%;
            height: 100%;
            max-width: 700px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .emojibox{
            width: 100%;
            max-width: 500px;
            display: flex;
            justify-content: space-between;
            font-size: 25px;
            overflow: scroll;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-right: 10px;
            overflow-x:hidden;
            .emoji{
                cursor: pointer;
            }
        }
    }

    .emojibox-container{
        bottom: -65px;
        height: 120px;
        transition: 0.2s ease;
        &.expanded-to-top{
            bottom: 55px;
            &.double{
                bottom: 90px;
            }
        }
        &.expanded-to-bottom{
            bottom: -120px;
            z-index: 2000;
        }
    }
    .wall{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        background: $main-contrast;
        z-index: 1999;
    }
    .post-form-container{
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background: $main-contrast;
        top: 0;
        color: white;
        z-index: 1999;
        .wide-central-container{
            position: absolute;
            bottom: 30px;
        }
        .form-container{
            width: 100%;
            height: 100%;
            max-width: 700px;
            display: flex;
            flex-direction: row;
            margin: 0 15px;
            .arrow{
                display: flex;
                height: 100%;
                align-items: center;
                padding: 0 12px;
                font-size: 22px;
                .button{
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                }
            }
            .inputs-container{
                overflow: hidden;
                position: relative;
                display: flex;
                height: 100%;
                width: 100%;
                .inputs-left, .inputs-center, .inputs-right{
                    position: absolute;
                    display: flex;
                    height: 100%;
                    width: 100%;
                    top:0;
                    transition: left 0.2s ease;
                    .form{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        margin: 12px 12px;
                        transition: 0.2s ease;
                        &.pushed{
                            margin-top: 132px;
                        }
                        .form-title{
                            margin-top: 54px;
                            text-transform: uppercase;
                            display: flex;
                            width: 100%;
                            margin-bottom: 32px;
                            align-items: center;
                            background: $main-contrast;
                            z-index: 3;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            &.small{
                                margin-top: 0;
                                font-size: 14px;
                                margin-bottom: 0;
                                text-transform: capitalize;
                            }
                            i, svg{
                                margin-right: 6px;
                            }
                        }
                        .poll-option{
                            text-align: left;
                            padding-left: 12px;
                            padding-right: 12px;
                            height: 35px;
                            margin: 6px 20px 22px 20px;
                            &.with-text{
                                background: white;
                                color: $main-contrast;
                            }
                            &:active,
                            &:focus{
                                transform: scale(1.05);
                                background: white;
                                color: $main-contrast;
                            }
                        }
                        .add-container{
                            display: flex;
                            width: 100%;
                            justify-content: flex-end;
                        }
                        &.event{
                            .event-ubication, .event-description{
                                padding-left: 12px;
                                padding-right: 12px;
                                margin: 6px 20px 22px 20px;
                                &:active,
                                &:focus{
                                    transform: scale(1.05);
                                    background: white;
                                    color: $main-contrast;
                                }
                            }
                        }
                        &.image-video{
                            .centered-image-container{
                                display: flex;
                                height: 100%;
                                align-items: center;
                                margin-top: -120px;
                                .image-viewer-container{
                                    position: relative;
                                    display: flex;
                                    width: 100%;
                                    //max-width: 435px;
                                    padding-bottom: 100%;
                                    top: 0;
                                    left: 0;
                                    //justify-content: center;
                                    overflow: hidden;
                                    img{
                                        position: absolute;
                                        display: flex;
                                        top: 50%;
                                        left: 50%;
                                        opacity: 0;
                                        //height: 100%;
                                        transition: filter 0.2s ease, opacity 0.4s ease;
                                    }
                                }
                            }
                            .image-input-container{
                                position: absolute;
                                display: flex;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                justify-content: center;
                                align-items: center;
                                z-index: 10;
                                &.image-selected{
                                    label{
                                        transform: scale(0);
                                    }
                                    &:hover,
                                    &:active,
                                    &:focus{
                                        label{
                                            transform: scale(1);
                                        }
                                        & + .centered-image-container{
                                            img{
                                                filter: blur(10px);
                                            }
                                        }
                                    }
                                }
                                input{
                                    display: none;
                                }
                                label{
                                    cursor: pointer;
                                    font-size: 18px;
                                    background: $light-secondary;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    border-radius: 40px;
                                    width: 45px;
                                    height: 45px;
                                    color: $main-contrast;
                                    transition: 0.2s ease;
                                    &:hover,
                                    &:active,
                                    &:focus{
                                        transform: scale(1.05);
                                    }
                                }
                            }
                        }
                    }
                }
                .inputs-left{
                    left: -100%;
                }
                .inputs-center{
                    left: 0;
                }
                .inputs-right{
                    left: 100%;
                }
            }
        }
    }
}

.wall{
    width: 100%;
    display: flex;
    justify-content: center;
    .posts-charging{
        position: fixed;
        display: flex;
        flex-shrink: inherit;
        width: 100%;
        top: 50vh;
        justify-content: center;
        align-items: center;
        font-size: 65px;
        opacity: 0;
        z-index: -1;
        transition: 0.2s ease;
        &.shown{
            opacity: 1;
            z-index: 1000;
        }
    }
    .central-container{
        position: relative;
        padding-top: 67px;
        padding-bottom: 67px;
        flex-direction: column;
        overflow: auto;
        .date-separator{
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            color: rgb(170, 170, 170);
            font-size: 12px;
            margin: 8px 0;
            padding: 6px 0;
        }
        .group-title{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 10px;
            align-items: center;
            transition: 0.2s ease;
            opacity: 0;
            .information{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                .name{
                    font-size: 20px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }
            .options{
                height: 100%;
                display: flex;
                align-items: center;
                .btn-login{
                    color: $main;
                    border: 1px solid $main;
                    margin-left: 12px; 
                    background: $light-main;
                    &:hover{
                        color: $light-main;
                        background: $main;
                        border: 1px solid $main;
                    }
                }
                .filter-option{
                    position: relative;
                    display: flex;
                    width: 30px;
                    padding-top: 30px;
                    margin-right: 3px;
                    margin-left: 3px;
                    border: 1px solid $light-main;
                    border-radius: 40px;
                    transition: 0.2s ease;
                    color: $light-main;
                    cursor: pointer;
                    span{
                        position: absolute;
                        display: flex;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover{
                        color: $main;
                        border: 1px solid $main;
                        background: $light-main;
                    }
                    &.selected{
                        color: $light-main;
                        background: $main;
                        &:hover{
                            color: $light-main;
                        }
                    }
                }
            }
            .group-card{
                width: 50px;
                padding-top: 50px;
                margin-left: 0;
                &:hover,
                &:active,
                &:focus{
                    cursor: default;
                    transform: none;
                    img{
                        filter: none;
                    }
                }
            }
        }
        .post-container{
            display: flex;
            width: 100%;
            margin: 4px 0;
            &.search-result{
                .post{
                    border-left: 8px solid rgb(255, 224, 138);
                }
            }
            &.me{
                justify-content: flex-end;
                &.search-result{
                    .post{
                        border-left: none;
                        border-right: 8px solid rgb(255, 224, 138);
                    }
                }
                .post{
                    background: $light-main;
                    padding-top: 6px;
                    margin-right: 0;
                    margin-left: 20px;
                    border-right: 0 solid rgb(255, 224, 138);
                    &.poll{
                        .text{
                            margin-top: 6px;
                        }
                        .answers{
                            .answer{
                                .percent-container{
                                    background: $light-secondary;
                                }
                            }
                        }
                    }
                    &.question{
                        .text{
                            margin-top: 6px;
                        }
                        .answers{
                            .answer{
                                background: $light-secondary;
                                &.me{
                                    background: white;
                                    border-left: 6px solid $main;
                                }
                            }
                        }
                    }
                    &.event{
                        .event-date{
                            margin-top: 3px;
                        }
                        .confirmed-users{
                            .user-container.me{
                                .name{
                                    background: white;
                                    border-left: 6px solid $main;
                                }
                            }
                        }
                    }
                }
            }
            .post{
                position: relative;
                min-width: 120px;
                border-radius: 3px;
                padding: 34px 12px 22px 12px;
                margin-right: 20px;
                background: $light-secondary;
                color: $main-contrast;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease;
                border-left: 0 solid rgb(255, 224, 138);
                .text{
                    word-wrap: break-word;
                }
                .time{
                    color: $gray;
                    font-size: 11px;
                    position: absolute;
                    display: flex;
                    top: 3px;
                    right: 12px;
                    bottom: 4px;
                    left: 12px;
                    justify-content: flex-end;
                    align-items: flex-end;
                }
                .user-name{
                    position: absolute;
                    display: flex;
                    left: 0;
                    right: 0;
                    top: 3px;
                    height: 24px;
                    padding-left: 12px;
                    border-bottom: 3px solid $main-contrast;
                    font-weight: 700;
                }
                .type{
                    color: $gray;
                    font-size: 11px;
                    position: absolute;
                    display: flex;
                    top: 3px;
                    right: 12px;
                    bottom: 4px;
                    left: 12px;
                    justify-content: flex-start;
                    align-items: flex-end;
                    .fa-circle{
                        margin-bottom: 5px;
                        margin-right: 3px;
                        font-size: 8px;
                    }
                }
                .searchable{
                    .search-result{
                        background: rgb(255, 255, 51);
                        color: $main-contrast;
                    }
                }
                &.event{
                    &.im-in{
                        .confirmed-users{
                            .user-container.me{
                                display: flex;
                                .user{
                                    height: 20px;
                                    width: 20px;
                                    margin-left: 12px;
                                }
                            }
                            &.expanded{
                                .user-container{
                                    .user{
                                        width: 40px;
                                        height: 40px;
                                        margin-top: 3px;
                                        margin-bottom: 3px;
                                        margin-left: 6px;
                                    }
                                    &.expanded{
                                        flex-direction: column-reverse;
                                        .user-container{
                                            .user{
                                                width: 40px;
                                                height: 40px;
                                                margin-top: 3px;
                                                margin-bottom: 3px;
                                                margin-left: 1px;
                                            }
                                            .name{
                                                display: flex;
                                            }
                                            i, svg{
                                                display: flex;
                                            }
                                        }
                                    }
                                    &.me{
                                        .name{
                                            display: flex;
                                        }
                                        i, svg{
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .event-date{
                        display: flex;
                        width: 100%;
                        justify-content: center;
                        align-items: center;
                        font-size: 18px;
                        margin-bottom: 6px;
                        i, svg{
                            margin-right: 3px;
                        }
                    }
                    .text{
                        font-size: 15px;
                        background: $main-contrast;
                        color: white;
                        padding: 2px 6px;
                        text-align: center;
                    }
                    .extra-information{
                        padding-top: 6px;
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        .description{
                            border-radius: 3px;
                            border-left: 6px solid $main-contrast;
                            padding: 0 6px;
                            background: white;
                            margin-bottom: 6px;
                            word-wrap: break-word;
                        }
                    }
                    .confirmed-users{
                        color: transparent;
                        font-size: 0;
                        margin-bottom: 6px;
                        display: flex;
                        flex-wrap: wrap;
                        z-index: 1;
                        justify-content: flex-end;
                        &.expanded{
                            flex-direction: column-reverse;
                            color: $main-contrast;
                            font-size: 14px;
                            .user-container{
                                .user{
                                    width: 40px;
                                    height: 40px;
                                    margin-top: 3px;
                                    margin-bottom: 3px;
                                    margin-left: 1px;
                                }
                                .name{
                                    display: flex;
                                }
                                i, svg{
                                    display: flex;
                                }
                                &.me{
                                    .name{
                                        display: none;
                                    }
                                    i, svg{
                                        display:none;
                                    }
                                }
                            }
                        }
                        .user-container{
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            .user{
                                border-radius: 100px;
                                width: 20px;
                                height: 20px;
                                margin: 1px 1px;
                            }
                            &.me{
                                display: flex;
                                .user{
                                    transition: 0.2s ease;
                                    width: 0;
                                    height: 0;
                                    margin-left: 0;
                                }
                                .name{
                                    font-size: 13px;
                                    background: $light-main;
                                    padding: 0 6px;
                                    border-left: 6px solid $main-contrast;
                                    border-radius: 3px;
                                }
                            }
                            .name{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 65px;
                                right: 0;
                                display: none;
                                align-items: center;
                                margin-left: 6px;
                            }
                            i, svg{
                                display: none;
                                margin-right: 6px;
                            }
                        }
                    }
                    .type::after{
                        content: "Evento";
                    }
                }
                &.question{
                    .text{
                        background: $main-contrast;
                        color: white;
                        padding: 2px 6px;
                    }
                    .type::after{
                        content: "Pregunta";
                    }
                    .answers{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 3px;
                        overflow: hidden;
                        height: 0;
                        .answer{
                            display: flex;
                            flex-direction: column;
                            border-radius: 3px;
                            border-left: 6px solid white;
                            margin: 3px 0;
                            padding: 0 6px;
                            word-wrap: break-word;
                            .user{
                                font-weight: 700;
                            }
                            &.me{
                                background: $light-main;
                                border-left: 6px solid $main-contrast;
                            }
                        }
                    }
                }
                &.message{
                    .text{
                        .emoji{
                            font-size: 24px;
                        }
                    }
                    .type::after{
                        content: "Mensaje";
                    }
                }
                &.image{
                    max-width: 200px;
                    width: 100%;
                    .type::after{
                        content: "Imagen";
                    }
                    .text{
                        background: $main-contrast;
                        color: white;
                        padding: 2px 6px;
                    }
                    .image{
                        position: relative;
                        display: flex;
                        //justify-content: center;
                        width: 100%;
                        padding-bottom: 100%;
                        overflow: hidden;
                        border-radius: 4px;
                        margin: 6px 0 6px 0;
                        img{
                            position: absolute;
                            height: 100%;
                            left: 50%;
                            top: 50%;
                            opacity: 0;
                            transition: opacity 0.2s ease;
                        }
                    }
                }
                &.poll{
                    .text{
                        background: $main-contrast;
                        color: white;
                        padding: 2px 6px;
                    }
                    .answers{
                        margin-top: 3px;
                        margin-bottom: 3px;
                        z-index: 1;
                        .answer{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                            border-radius: 3px;
                            margin: 3px 0;
                            padding: 0 6px;
                            word-wrap: break-word;
                            &.selected{
                                .radio-container{
                                    label{
                                        cursor: default;
                                    }
                                }
                            }
                            .radio-container{
                                display: flex;
                                align-items: center;
                                input{
                                    display: none;
                                    &:checked + label{
                                        background: $main-contrast;
                                        width: 15px;
                                        height: 15px;
                                        margin-right: 4px;
                                        color: white;
                                        font-size: 19px;
                                        i, svg{
                                            font-size: 19px;
                                            opacity: 1;
                                        }
                                    }
                                }
                                label{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 12px;
                                    height: 12px;
                                    border: 1px solid $main-contrast;
                                    border-radius: 20px;
                                    margin: 0 3px 3px 0;
                                    transition: 0.2s ease;
                                    font-size: 0;
                                    cursor: pointer;
                                    i, svg{
                                        font-size: 1px;
                                        color: white;
                                        opacity: 0;
                                        transition: 0.2s ease;
                                    }
                                }
                            }
                            .quantity{
                                font-weight: 700;
                                margin-left: 12px;
                            }
                            .percent-container{
                                display: flex;
                                width: 100%;
                                height: 6px;
                                background: $light-main;
                                margin-bottom: 6px;
                                .percent{
                                    display: flex;
                                    height: 100%;
                                    width: 50%;
                                    background: $main-contrast;
                                    transition: 0.2s ease;
                                }
                            }
                        }
                    }
                    .type::after{
                        content: "Votación";
                    }
                }
                .options{
                    display: flex;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    margin-top: 3px;
                    a{
                        cursor: pointer !important;
                        color: $main;
                        font-weight: 700;
                        z-index: 1;
                        margin-left: 12px;
                        i, svg{
                            transition: 0.2s ease;
                        }
                        &.see-more{
                            z-index: 11;
                        }
                        &.expanded{
                            i, svg{
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

.searchable{
    word-wrap: break-word;
}

//Esconde las barras de scroll.
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}