.group-card{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    //padding-top: 200px;
    flex-shrink: 0;
    background: rgb(85, 85, 85);
    transition: 0.2s ease;
    overflow: hidden;
    margin: 6px 6px;
    opacity: 0;
    //border: 5px solid $light-main;
    &.empty{
        background: $main-contrast;
    }
    &.invitation{
        &:hover,
        &:active,
        &:focus{
            .information{
                opacity: 0;
            }
            .options{
                a{
                    transform: scale(1);
                }
            }
        }
        .image{
            filter: blur(10px) brightness(0.7) grayscale(100%);
        }
        .information{
            .invite-text{
                display: flex;
            }
        }
    }
    .image{
        position: relative;
        display: flex;
        width: 50%;
        padding-bottom: 50%; 
        overflow: hidden;
        filter: blur(10px) brightness(0.7);
        img{
            position: absolute;
            left: 50%;
            top: 50%;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    }
    .options, .information{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        color: $light-secondary;
        transition: 0.2s ease;
    }
    .options{
        z-index: 1;
        a{
            background: $light-secondary;
            border: 1px solid $light-secondary;
            color: $main-contrast;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            transform: scale(0);
            height: 30px;
            width: 20px;
            margin: 9px 12px;
        }
    }
    .information{
        opacity: 1;
        flex-direction: column;
        .name{
            text-transform: uppercase;
            width: 100%;
            display: flex;
            justify-content: center;
            font-weight: 600;
            transition: 0.3s ease;
            //background: $light-secondary;
            //border-left: 3px solid $main-contrast;
            //border-right: 3px solid $main-contrast;
        }
        .invite-text{
            text-transform: uppercase;
            border-top: 2px solid $light-secondary;
            padding-top: 3px;
        }
    }
    .counter{
        position: absolute;
        top: 5px;
        right: 5px;
        background: $light-secondary;
        color: $main-contrast;
        font-weight: 600;
        &:hover + .counter-information,
        &:active + .counter-information,
        &:focus + .counter-information{
            opacity: 1;
            transform: translateY(2px);
        }
        & + .counter-information{
            color: $main-contrast;
            background: white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            font-size: 12px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 30px;
            left: 5px;
            right: 5px;
            border-radius: 2px;
            padding: 5px 10px;
            opacity: 0;
            transition: 0.2s ease;
        }
    }
}